---
name: Type Check

on:
  push:
    branches:
      - main
      - dev
      - fix/**
      - hotfix/**
      - feature/**
      - release/**
      - dependabot/**
    paths:
      - "!**.md"

  pull_request:
    branches:
      - main
      - dev
      - fix/**
      - hotfix/**
      - feature/**
      - release/**
      - dependabot/**
    types:
      - opened
      - reopened

  schedule:
    - cron: 0 12 * * 6

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow_ref }}-${{ github.ref }}-type-check
  cancel-in-progress: false

jobs:
  type-check:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.8", "3.9", "3.10"]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3.1.0

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4.5.0
        with:
          python-version: ${{ matrix.python-version }}
          architecture: "x64"

      - name: Install Poetry
        run: pip install poetry

      - name: Install dependencies
        run: poetry install --sync

      - name: Test with pytest
        run: poetry run poe type-check
